<%- include('partials/header') -%>

<section class="jumbotron jumbotron-fluid main-bg shadow-lg mb-0 mt-3">
  <div class="container">
    <h1 class="display-4 text-white font-weight-bold">Pudio Casts</h1>
    <hr class="my-4 hf-bg" />
    <p class="lead text-white font-weight-normal">
      Conversations with the hackers, the leaders, and the innovators of
      software development.
    </p>
  </div>
</section>

<main class="main-bg">
  <section class="container shadow-lg mb-5">
    <div class="row">
      <% podcasts.forEach((podcast) => { %>
      <div class="col-sm-4 mt-3">
        <div class="card mb-3 bg-white rounded">
          <div
            class="card-header text-light hf-bg h6 shadow-lg font-weight-bold"
          >
            <%= podcast.title %>
          </div>
          <div class="card-text text-center text-purple h6 pt-2">
            <%= podcast.author %>
          </div>
          <div class="card-body">
            <audio controls style="width: 100%; max-width: 600px;">
              <source src="<%= podcast.link %>" type="audio/ogg" />
              <source src="<%= podcast.link %>" type="audio/mpeg" />
              <p>
                Your browser doesn't support HTML5 audio. Here is a
                <a href="<%= podcast.link %>">link to download the audio</a>
                instead.
              </p>
            </audio>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</main>
<%- include('partials/footer') -%>
